
root /home/{{ app_name }}/www;

index index.html;

location / {
    proxy_pass http://{{ app_name }}_env;
    proxy_set_header Host $host;
    proxy_buffer_size          128k;
    proxy_buffers              4 256k;
    proxy_busy_buffers_size    256k;

    # internal 'redirect' for websocket mangling
    proxy_intercept_errors on;
    error_page 301 302 307 = @handle_redirect;
}

# this location handles redirections from the proxy so that the user wont see it
location @handle_redirect {
    set $saved_redirect_location '$upstream_http_location';
    proxy_pass $saved_redirect_location;

    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header Host $host;

    # default 60s timeout
    proxy_read_timeout 60s;
    proxy_send_timeout 60s;
}