%{{ app_name }} ALL= NOPASSWD: /bin/systemctl start {{ app_name }}.service
%{{ app_name }} ALL= NOPASSWD: /bin/systemctl stop {{ app_name }}.service
%{{ app_name }} ALL= NOPASSWD: /bin/systemctl restart {{ app_name }}.service
